html,
body {
    
    padding: 0;
    margin: 0;
    background: #99CCFF;
    font-family: sans-serif;
    color: #FEFEFE;
    text-shadow: 0 0 0.5ex #000;
}

p {
    font-size: 2rem;
}


button {

    display: block;
    float: left;

    width: 20rem;
    height: 20rem;
    border: 2rem solid #FEFEFE;
    border-radius: 10rem;
    background-color: rgba(0,0,0, 0.8);

    color: #FEFEFE;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 0.5ex #000;

    transition: background-color 1s ease-in-out;

    &:hover {
        transition: background-color 0.3s ease-in-out;
    }

    &[value="piano"] {

        background-image: url('resources/minus.svg');

        &:hover {
            background-color: rgba(255,0,0, 0.9);
        }

    }

    &[value="forte"] {

        float: right;
        background-image: url('resources/plus.svg');

        &:hover {
            background-color: rgba(0,255,0, 0.9);
        }
    }
}


span.decorative {

    font-size: 1.5rem;
    font-weight: bold;
}


div.volume {
    
    background: linear-gradient(to bottom, rgba(0,0,0, 0.8), rgba(0,0,0, 0.6)) no-repeat,
        linear-gradient(to bottom, rgba(0,0,0, 0.4), rgba(153,204,255, 0.8));
    width: 100%;
    height: 3rem;
    border: 1rem solid #FEFEFE;
    border-radius: 3rem;

    @for $i from 1 through 100 {

        &.vol-#{$i}{
            background-size:  $i * 1% 100%
        }
    }

    span.decorative {
        display: block;
        margin-left: 40%;
        line-height: 3rem;

        &:after {
            content: "% volume";
        }
    }

}

#song {

    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0 1rem #000;

    .artist {

        &:after {
            content: " - ";
        }
    }
}


section#content {

    width: 100ex;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    header {

        min-height: 20rem;
        background: url('resources/logo.svg') no-repeat;
        background-position: center center;
        background-size: auto 100%;

        span.decorative {
            display: block;
            font-size: 2rem;
            color: #000;
            text-shadow: None;
            -moz-transform: rotate(-5deg);
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
            margin-top: 2rem;
        }

        ul#messages {

            li {

                list-style: none;
                background: rgba(0,0,0, 0.8);
                border: 1rem solid #FEFEFE;
                border-radius: 5rem;
                padding: 1rem;
                margin-bottom: 0.5rem;


                font-size: 1.5rem;
                font-weight: bold;
            }
        }

    }


    div#content-wrapper {
        
        overflow: hidden;
        margin-top: 2rem;
    }

    footer {
        
        margin-top: 2rem;

    }
}
