<!doctype html>
<html>
    <head>
        <title>Deine scheiß Mucke, Alter!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='laut.js') }}"></script>
    </head>
    <body class="state-{{ status['state'] }}">
        
        <section id="content">

            <header>
                <span class="decorative">Deine scheiß Mucke, Alter!</span>

                {%- with messages = get_flashed_messages(True) -%}
                    {%- if messages|length > 0 -%}

                        <ul id="messages">
                        {%- for (class, message) in messages -%}
                            <li class="{{ class }}">{{ message }}</li>
                        {%- endfor -%}
                        </ul>

                    {%- endif -%}
                {%- endwith -%}

            </header>

            <div id="content-wrapper">{%- include content -%}</div>

            <footer>
               
                {%- with volume = status['volume']|int -%}
                    {%- if volume > 0 -%}
                        <div class="volume vol-{{ volume }}" data-type="volume" data-id="current"><span class="decorative" data-key="volume">{{ volume }}</span></div>
                    {%- endif -%}
                {%- endwith -%}

            </footer>

        </section>

    </body>
</html>
