<div id="song" data-type="song" data-id="current">


    <span class="artist" data-key="artist">
    {%- if 'artist' in song.keys() -%}
        {{ song['artist'] }}
    {%- else -%}
        Unknown and shit
    {%- endif -%}
    </span>

    <span class="title" data-key="title">
    {%- if 'title' in song.keys() -%}
        {{ song['title'] }}
    {%- else -%}
        Unknown and shit
    {%- endif -%}
    </span>

</div>
